accelerate
aiofiles
altair
dadaptation
diffusers[torch]
easygui
einops
fairscale
ftfy
gradio
huggingface-hub
imagesize
invisible-watermark
lion-pytorch
lycoris_lora
omegaconf
onnx
prodigyopt
protobuf
open-clip-torch
opencv-python
prodigy-plus-schedule-free
pytorch-lightning
pytorch-optimizer
rich
safetensors
schedulefree
scipy
# for T5XXL tokenizer (SD3/FLUX)
sentencepiece
timm
tk
toml
transformers
voluptuous
wandb
# for kohya_ss sd-scripts library
# -e ./sd-scripts
